@using WebDongHo.Models;
@model DanhsachSPModel
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mask img {
        height: 275px;
    }

    .product-left {
        margin-top: 25px;
    }
</style>


<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Danh sách sản phẩm</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-9 prdt-left">
                <div>
                    @{
                        string urlAnhSP = "";
                        foreach (var s in Model.Sanphams)
                        {
                            if (s.Hinhanhs.Count == 0)
                            {
                                urlAnhSP = "/images/nophoto.jpg";
                            }
                            else
                            {
                                urlAnhSP = s.Hinhanhs.ToList()[0].Url;
                            }
                            <div class="col-md-4 product-left">
                                <div class="product-main">
                                    <a href="/ChitietSP/Index/@s.SanphamID" class="mask"><img class="img-responsive zoom-img" src="@urlAnhSP" alt="" /></a>
                                    <div class="product-bottom">
                                        <p style="height:17px; overflow:hidden; text-overflow:ellipsis" title="@s.Nhanhieu.Ten">@s.Nhanhieu.Ten</p>
                                        <a href="/ChitietSP/Index/@s.SanphamID"><h3 style="font-weight:bold;height:35px; overflow:hidden;" title="@s.Ten">@s.Ten</h3></a>
                                        <br />
                                        <a href="/DanhsachSP/Index?Lspid=@s.LoaiSPID" style="color:#999;">@s.LoaiSP.Ten</a>
                                        <h4>
                                            <span style="display:block;">
                                                <a class="item_add" href="javascript:;" id="CartItem_@s.SanphamID"><i></i></a>&nbsp;
                                                <span class="item_price">
                                                    <span style="font-size:1.5em;color:#ff0000;font-weight:bold">
                                                        @((s.Giaban * 1000).ToString("#,#"))
                                                    </span>
                                                    VNĐ
                                                </span>
                                            </span>

                                            <span class="item_price" style="margin-left:35px;display:block">
                                                <span style="text-decoration:line-through">
                                                    @((s.Giagoc * 1000).ToString("#,#"))
                                                </span>
                                                VNĐ
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        @if (s.Khuyenmai > 0)
                                        {
                                            <span>-@(s.Khuyenmai)%</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
            <div class="col-md-3 prdt-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4>Nhãn hiệu</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="NhanHieu" value="0" checked=""><i></i>Tất cả</label>
                            </div>
                            <div class="col col-4">
                                @{
                                    if (Model.Nhanhieux.Count > 0)
                                    {
                                        foreach (var item in Model.Nhanhieux)
                                        {
                                            <label class="checkbox"><input type="checkbox" name="NhanHieu" value="@item.NhanhieuID"><i></i>@item.Ten</label>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Khoảng giá</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="KhoangGia" value="0" checked><i></i>Tất cả</label>
                                <label class="radio"><input type="radio" name="KhoangGia" value="1"><i></i>Giá dưới 5 triệu</label>
                                <label class="radio"><input type="radio" name="KhoangGia" value="2"><i></i>Giá từ 5 - 10 triệu</label>
                                <label class="radio"><input type="radio" name="KhoangGia" value="3"><i></i>Giá từ 10 - 20 triệu</label>
                                <label class="radio"><input type="radio" name="KhoangGia" value="4"><i></i>Giá từ 20 - 50 triệu</label>
                                <label class="radio"><input type="radio" name="KhoangGia" value="5"><i></i>Giá trên 50 triệu</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Năng lượng sử dụng</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="NangLuong" value="0" checked=""><i></i>Tất cả</label>
                            </div>
                            <div class="col col-4">
                                @if (Model.Nangluongs.Count > 0)
                                {
                                    foreach (var item in Model.Nangluongs)
                                    {
                                        <label class="checkbox"><input type="checkbox" name="NangLuong" value="@item.NangluongID"><i></i>@item.Ten</label>
                                    }
                                }
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Loại dây sử dụng</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="LoaiDay" value="0" checked=""><i></i>Tất cả</label>
                            </div>
                            <div class="col col-4">
                                @if (Model.Loaidays.Count > 0)
                                {
                                    foreach (var item in Model.Loaidays)
                                    {
                                        <label class="checkbox"><input type="checkbox" name="LoaiDay" value="@item.LoaidayID"><i></i>@item.Ten</label>
                                    }
                                }
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Loại vỏ sử dụng</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="LoaiVo" value="0" checked=""><i></i>Tất cả</label>
                            </div>
                            <div class="col col-4">
                                @if (Model.Loaivoes.Count > 0)
                                {
                                    foreach (var item in Model.Loaivoes)
                                    {
                                        <label class="checkbox"><input type="checkbox" name="LoaiVo" value="@item.LoaivoID"><i></i>@item.Ten</label>
                                    }
                                }
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--product-end-->
