@model IEnumerable<WebDongHo.DbContext.Nangluong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thutu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hienthi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thutu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hienthi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NangluongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NangluongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NangluongID })
        </td>
    </tr>
}

</table>
