<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Admin Website</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />

    <!-- Morris Charts CSS -->
    <link href="~/Content/morris.css" rel="stylesheet" type="text/css" />

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("CustomCSS",false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.12.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/Admin.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Đóng/Mở Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin Website</a>
            </div>
            <!-- /.navbar-header -->

            @RenderPage("_NavbarTopLinks.cshtml")
            <!-- /.navbar-top-links -->

            @RenderPage("_LeftSideBar.cshtml")
            <!-- /.navbar-static-side -->
        </nav>
        <!-- /Navigation -->
        <!-- #page-wrapper -->
        <div id="page-wrapper" style="padding-bottom:100px;">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
   

    @RenderSection("CustomJS",false)
    
</body>
</html>
