@model WebDongHo.DbContext.Sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section CustomCSS{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <style>
        th {
            width: 150px;
            height: 30px;
        }

        th, td {
            padding: 5px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">
            <a href="/Admin/Sanphams" style="font-size:0.5em;font-weight:normal;font-style:italic">Quản lý sản phẩm</a>
            <br />
            <span>Thông tin sản phẩm</span>
        </h1>
    </div>
    <!-- /.row -->

    <div class="row">
        <div id="list-image" style="display:block;margin-top: 25px;">
            @{
                Html.RenderAction("Index", "Hinhanhs", new { id = Model.SanphamID });
            }
        </div>

        <div class="col-md-9">
            <table class="table-hover table-responsive table-striped">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Ten)</th>
                    <td>@Html.DisplayFor(model => model.Ten)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nhanhieu.Ten)</th>
                    <td>@Html.DisplayFor(model => model.Nhanhieu.Ten)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Loaiday.Ten)</th>
                    <td>@Html.DisplayFor(model => model.Loaiday.Ten)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Loaivo.Ten)</th>
                    <td>@Html.DisplayFor(model => model.Loaivo.Ten)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nangluong.Ten)</th>
                    <td>@Html.DisplayFor(model => model.Nangluong.Ten)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Giaban)</th>
                    <td>@Html.DisplayFor(model => model.Giaban)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Giagoc)</th>
                    <td>@Html.DisplayFor(model => model.Giagoc)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Khuyenmai)</th>
                    <td>@Html.DisplayFor(model => model.Khuyenmai)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Soluong)</th>
                    <td>@Html.DisplayFor(model => model.Soluong)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Hienthi)</th>
                    <td>@Html.DisplayFor(model => model.Hienthi)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HienthiTrangChu)</th>
                    <td>@Html.DisplayFor(model => model.HienthiTrangChu)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IsNoibat)</th>
                    <td>@Html.DisplayFor(model => model.IsNoibat)</td>
                </tr>
                
            </table>
            <div style="margin:10px 0 0 25px;">
                <a href="/Admin/Sanphams" class="btn btn-primary" title="Trở về danh sách nhân viên" data-toggle="tooltip" data-placement="bottom">
                    Trở về danh sách
                </a>
                <a href="/Admin/Sanphams/Edit/@Model.SanphamID" class="btn btn-warning" title="Chỉnh sửa thông tin" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
                    Chỉnh sửa
                </a>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>

@section CustomJS{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
