@using WebDongHo.DbContext
@using WebDongHo.Models
@using System.Globalization

@model HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mask img {
        height: 275px;
    }
    .product-left{
        margin-top:25px;
    }
    
</style>

<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="/images/bnr-1.jpg" alt="" />
            </li>
            <li>
                <img src="/images/bnr-2.jpg" alt="" />
            </li>
            <li>
                <img src="/images/bnr-3.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="~/Scripts/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--End-slider-script-->
<!--about-starts-->
<div class="about">
        <div class="container">
            <div class="about-top grid-1">
                <div class="col-md-4 about-left">
                    <a href="/">
                        <figure class="effect-bubba">
                            <img style="height:350px" class="img-responsive" src="~/images/Home/145654132118.jpg" alt="" />
                            <figcaption style="font-size:18px">
                                <h2>Đồng hồ nam</h2>
                                <p>Mạnh mẽ, nam tính, khẳng định đẳng cấp phái mạnh.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 about-left">
                    <a href="/">
                        <figure class="effect-bubba">
                            <img style="height:350px" class="img-responsive" src="~/images/Home/dong-ho-nu-thoi-trang-cao-cap-melissa-white_26.jpg" alt="" />
                            <figcaption style="font-size:18px">
                                <h4>Đồng hồ nữ</h4>
                                <p>Trang nhã, lịch thiệp, tinh tế đậm chất nữ tính.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 about-left">
                    <a href="/">
                        <figure class="effect-bubba">
                            <img style="height:350px" class="img-responsive" src="~/images/Home/ma-d29-dong-ho-doi-baishuns-mat-trang-sang-trong.jpg" alt="" />
                            <figcaption style="font-size:18px">
                                <h4>Đồng hồ đôi</h4>
                                <p>Hãy để tình yêu của bạn đi cùng năm tháng.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">

            <!--Đồng hồ nam nổi bật-->
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Sản phẩm nổi bật</h1>
                    </div>
                    <div >
                        @{
                            string urlAnhSP ="";
                            foreach (var s in Model.lstSP)
                            {
                                if(s.Hinhanhs.Count == 0)
                                {
                                    urlAnhSP = "/images/nophoto.jpg";
                                }
                                else
                                {
                                    urlAnhSP = s.Hinhanhs.ToList()[0].Url;
                                }
                                <div class="col-md-3 product-left">
                                    <div class="product-main">
                                        <a href="javascript:;" class="mask"><img class="img-responsive zoom-img" src="@urlAnhSP" alt="" /></a>
                                        <div class="product-bottom">
                                            <p>@s.Nhanhieu.Ten</p>
                                            <a href="/"><h3 style="font-weight:bold;height:35px; overflow:hidden;" title="@s.Ten">@s.Ten</h3></a>
                                            <br />
                                            <a href="/" style="color:#999;">@s.LoaiSP.Ten</a>
                                            <h4>
                                                <span style="display:block;">
                                                    <a class="item_add" href="#"><i></i></a>&nbsp;
                                                    <span class="item_price">
                                                        <span style="font-size:1.5em;color:#ff0000;font-weight:bold">
                                                            @((s.Giaban * 1000).ToString("#,#"))
                                                        </span>
                                                        VNĐ
                                                    </span>
                                                </span>

                                                <span class="item_price" style="margin-left:35px;display:block">
                                                    <span style="text-decoration:line-through">
                                                        @((s.Giagoc * 1000).ToString("#,#"))
                                                    </span>
                                                    VNĐ
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="srch">
                                            @if (s.Khuyenmai > 0)
                            {
                                                <span>-@(s.Khuyenmai)%</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product-end-->
